In [1]:
import pandas as pd
import numpy as np
import os
import math
import csv
import random
import time
import collections
from tqdm import tqdm_notebook as tqdm

In [2]:
train_final = pd.read_csv('/storage/kdd/train_final.csv')

In [3]:
plans = train_final.plans

In [4]:
plans = plans.values

In [5]:
plans

array(['[{"distance": 49067, "price": 3100, "eta": 6345, "transport_mode": 2}, {"distance": 47429, "price": "", "eta": 4604, "transport_mode": 3}, {"distance": 47429, "price": 14100, "eta": 4604, "transport_mode": 4}, {"distance": 49758, "price": 5500, "eta": 6878, "transport_mode": 8}, {"distance": 47796, "price": 3000, "eta": 7234, "transport_mode": 11}, {"distance": 48995, "price": 3200, "eta": 7396, "transport_mode": 1}]',
       '[{"distance": 6157, "price": 300, "eta": 1289, "transport_mode": 2}, {"distance": 7667, "price": "", "eta": 929, "transport_mode": 3}, {"distance": 7667, "price": 2100, "eta": 1229, "transport_mode": 4}]',
       '[{"distance": 3006, "price": 200, "eta": 2419, "transport_mode": 1}, {"distance": 3898, "price": "", "eta": 429, "transport_mode": 3}, {"distance": 3898, "price": 1300, "eta": 669, "transport_mode": 4}, {"distance": 3521, "price": "", "eta": 1063, "transport_mode": 6}, {"distance": 3014, "price": 200, "eta": 2432, "transport_mode": 1}, {"distance": 2714, "price": "", "eta": 2434, "transport_mode": 5}]',
       ...,
       '[{"distance": 5208, "price": 300, "eta": 1975, "transport_mode": 2}, {"distance": 5442, "price": "", "eta": 1582, "transport_mode": 3}, {"distance": 5243, "price": "", "eta": 1585, "transport_mode": 6}, {"distance": 5442, "price": 2600, "eta": 1762, "transport_mode": 4}, {"distance": 5735, "price": 200, "eta": 2488, "transport_mode": 1}]',
       '[{"distance": 13968, "price": 600, "eta": 4257, "transport_mode": 7}, {"distance": 12682, "price": "", "eta": 2563, "transport_mode": 3}, {"distance": 12682, "price": 5100, "eta": 2863, "transport_mode": 4}, {"distance": 17366, "price": 500, "eta": 3720, "transport_mode": 9}, {"distance": 11618, "price": 300, "eta": 4509, "transport_mode": 1}]',
       '[{"distance": 46834, "price": 900, "eta": 7774, "transport_mode": 7}, {"distance": 45548, "price": "", "eta": 4310, "transport_mode": 3}, {"distance": 45548, "price": 15200, "eta": 4610, "transport_mode": 4}, {"distance": 52926, "price": 1100, "eta": 7996, "transport_mode": 7}]'],
      dtype=object)

In [6]:
#先測試plans[0]切出來長怎樣
# fea = []
# a = plans[0].replace('""','0')
# a = a.replace('"','')
# a = a.replace('},','')
# a = a.replace('}','')
# a = a.replace('[','')
# a = a.replace(']','')
# a = a.split('{')

In [7]:
# a

In [8]:
test = []
for num in tqdm(range(len(plans))):
    fea = []
    #處理str 把文字拿掉只取值出來
    ary = plans[num].replace('""','0')
    ary = ary.replace('"','')
    ary = ary.replace('},','')
    ary = ary.replace('}','')
    ary = ary.replace('[','')
    ary = ary.replace(']','')
    ary = ary.replace('distance: ',',')
    ary = ary.replace(' price: ','')
    ary = ary.replace(' eta: ','')
    ary = ary.replace(' transport_mode: ','')
    ary = ary.replace('{','')
    ary = ary.replace(' ','')
    ary = ary.split(',')
    #丟掉ary[0] = '' 這個值 把其餘正確的值append到fea內
    for i in range(len(ary)-1):
        fea.append(int(ary[i+1]))
    #建立正確的值順序以便待會丟入pandas    
    pla = [0]*44
    #將pla 把所有數據放好  之後直接轉pandas
    for i in range(3,len(fea),4):
        mode = fea[i]
        pla[4*(mode-1)] = 1
        pla[4*(mode-1) +1] = fea[i-3]
        pla[4*(mode-1) +2] = fea[i-2]
        pla[4*(mode-1) +3] = fea[i-1]
    #put data into pandas
#     df_plans.loc[num] = pla
    test.append(pla)
    del fea,ary,pla
# for i in tqdm(range(len(plans))):
#     df_plans.loc[i] = test[i]

HBox(children=(IntProgress(value=0, max=453336), HTML(value='')))

In [9]:
type(test)

list

In [12]:
data = pd.DataFrame(test,columns=['mode1', 'dis1', 'price1', 'eta1',
                                'mode2', 'dis2', 'price2', 'eta2',
                                'mode3', 'dis3', 'price3', 'eta3',
                                'mode4', 'dis4', 'price4', 'eta4',
                                'mode5', 'dis5', 'price5', 'eta5',
                                'mode6', 'dis6', 'price6', 'eta6',
                                'mode7', 'dis7', 'price7', 'eta7',
                                'mode8', 'dis8', 'price8', 'eta8',
                                'mode9', 'dis9', 'price9', 'eta9',
                                'mode10', 'dis10', 'price10', 'eta10',
                                'mode11', 'dis11', 'price11', 'eta11'])

In [13]:
data

,mode1,dis1,price1,eta1,mode2,dis2,price2,eta2,mode3,dis3,...,price9,eta9,mode10,dis10,price10,eta10,mode11,dis11,price11,eta11
0,1,48995,3200,7396,1,49067,3100,6345,1,47429,...,0,0,0,0,0,0,1,47796,3000,7234
1,0,0,0,0,1,6157,300,1289,1,7667,...,0,0,0,0,0,0,0,0,0,0
2,1,3014,200,2432,0,0,0,0,1,3898,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,1,25925,600,5663,1,24642,...,600,4411,0,0,0,0,0,0,0,0
4,1,4008,200,2176,0,0,0,0,1,3341,...,0,0,0,0,0,0,0,0,0,0
5,1,3945,200,2047,0,0,0,0,1,2622,...,0,0,0,0,0,0,0,0,0,0
6,0,0,0,0,1,17113,500,2465,1,16983,...,0,0,1,18014,1800,2507,0,0,0,0
7,1,10414,300,2655,1,10346,400,2039,1,9977,...,400,2021,0,0,0,0,0,0,0,0
8,1,9904,400,3128,0,0,0,0,1,10525,...,0,0,0,0,0,0,0,0,0,0
9,1,4162,200,1886,1,4210,300,1512,1,4230,...,300,1395,0,0,0,0,0,0,0,0
10,1,811,200,629,0,0,0,0,1,974,...,0,0,0,0,0,0,0,0,0,0
11,1,3826,1500,2008,0,0,0,0,1,2667,...,0,0,0,0,0,0,0,0,0,0
12,1,4029,200,2147,0,0,0,0,1,3969,...,0,0,0,0,0,0,0,0,0,0
13,1,10493,300,3717,0,0,0,0,1,9671,...,0,0,0,0,0,0,0,0,0,0
14,1,42022,1000,10210,0,0,0,0,1,35685,...,0,0,1,39480,2000,5288,0,0,0,0
15,1,13127,300,4296,1,17417,500,3558,1,16277,...,500,3450,1,18388,2500,2577,0,0,0,0
16,1,33047,800,7114,1,40799,700,5299,1,32665,...,700,4498,0,0,0,0,0,0,0,0
17,0,0,0,0,1,34880,700,3968,1,38309,...,0,0,0,0,0,0,0,0,0,0
18,0,0,0,0,0,0,0,0,1,36247,...,0,0,1,36716,4400,4986,0,0,0,0
19,0,0,0,0,1,8945,400,1694,1,8535,...,0,0,0,0,0,0,0,0,0,0
20,0,0,0,0,1,7144,300,1831,1,6994,...,0,0,0,0,0,0,0,0,0,0
21,1,5995,200,2317,0,0,0,0,1,6594,...,0,0,0,0,0,0,0,0,0,0
22,0,0,0,0,0,0,0,0,1,26084,...,0,0,1,26578,3600,4060,0,0,0,0
23,1,13471,300,3596,0,0,0,0,1,12337,...,0,0,0,0,0,0,0,0,0,0
24,1,842,200,1072,0,0,0,0,1,605,...,0,0,0,0,0,0,0,0,0,0
25,0,0,0,0,0,0,0,0,1,22012,...,0,0,0,0,0,0,0,0,0,0
26,0,0,0,0,1,22243,500,3692,1,27553,...,0,0,0,0,0,0,0,0,0,0
27,1,9020,200,3266,0,0,0,0,1,10162,...,0,0,0,0,0,0,0,0,0,0
28,0,0,0,0,1,18824,500,2743,1,20007,...,0,0,0,0,0,0,0,0,0,0
29,1,9303,200,3171,0,0,0,0,1,9459,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
453306,1,6325,200,2447,0,0,0,0,1,6326,...,0,0,0,0,0,0,0,0,0,0
453307,1,2444,200,1856,0,0,0,0,1,2176,...,0,0,0,0,0,0,0,0,0,0
453308,1,12915,300,2600,0,0,0,0,1,13478,...,0,0,0,0,0,0,1,14826,600,3651
453309,0,0,0,0,1,17481,500,2845,1,19765,...,500,2687,0,0,0,0,0,0,0,0
453310,0,0,0,0,0,0,0,0,1,35027,...,0,0,0,0,0,0,1,41509,800,7148
453311,0,0,0,0,1,36288,700,5024,1,34071,...,0,0,1,36545,3800,4482,0,0,0,0
453312,1,20118,500,5507,0,0,0,0,1,22083,...,0,0,1,20156,2300,3105,0,0,0,0
453313,1,91889,1900,12396,0,0,0,0,1,90233,...,0,0,0,0,0,0,0,0,0,0
453314,0,0,0,0,1,15899,500,2567,1,15890,...,0,0,1,15676,1800,2495,0,0,0,0
453315,0,0,0,0,1,8236,400,1644,1,8509,...,0,0,0,0,0,0,0,0,0,0
453316,1,6368,400,3599,0,0,0,0,1,6849,...,0,0,0,0,0,0,0,0,0,0
453317,0,0,0,0,1,23153,500,3901,1,21907,...,500,3829,0,0,0,0,0,0,0,0
453318,0,0,0,0,0,0,0,0,1,16490,...,0,0,0,0,0,0,0,0,0,0
453319,0,0,0,0,1,11711,400,1805,1,14675,...,0,0,0,0,0,0,0,0,0,0
453320,1,34290,3200,5756,1,42388,3000,4765,1,33304,...,0,0,0,0,0,0,0,0,0,0
453321,1,16332,400,4830,1,15603,500,2251,0,0,...,0,0,0,0,0,0,0,0,0,0
453322,1,24385,600,6110,0,0,0,0,1,24666,...,0,0,1,26531,1900,3758,0,0,0,0
453323,1,24331,600,6053,0,0,0,0,1,24815,...,0,0,1,26914,2000,3987,0,0,0,0
453324,0,0,0,0,1,5842,300,1754,1,6550,...,300,1390,0,0,0,0,0,0,0,0
453325,1,3845,200,1703,0,0,0,0,1,4245,...,0,0,0,0,0,0,0,0,0,0
453326,0,0,0,0,0,0,0,0,1,284,...,0,0,0,0,0,0,0,0,0,0
453327,0,0,0,0,1,25157,600,3265,1,31565,...,600,3024,0,0,0,0,0,0,0,0
453328,1,1283,200,687,0,0,0,0,1,756,...,0,0,0,0,0,0,0,0,0,0
453329,1,15890,400,4700,0,0,0,0,1,14745,...,500,4486,0,0,0,0,0,0,0,0
453330,1,1659,200,1953,0,0,0,0,1,2897,...,0,0,0,0,0,0,0,0,0,0
453331,1,14189,400,5143,1,13913,400,3105,1,13741,...,400,2773,1,17551,2500,3082,0,0,0,0
453332,1,19023,300,6141,0,0,0,0,1,20797,...,500,3122,0,0,0,0,0,0,0,0
453333,1,5735,200,2488,1,5208,300,1975,1,5442,...,0,0,0,0,0,0,0,0,0,0
453334,1,11618,300,4509,0,0,0,0,1,12682,...,500,3720,0,0,0,0,0,0,0,0
453335,0,0,0,0,0,0,0,0,1,45548,...,0,0,0,0,0,0,0,0,0,0

In [14]:
final = pd.concat([train_final, data], axis = 1)

In [15]:
final.head()

,sid,pid,req_time,o,d,plan_time,plans,p0,p1,p2,...,price9,eta9,mode10,dis10,price10,eta10,mode11,dis11,price11,eta11
0,10,199899.0,2018-11-10 11:10:36,"116.58,40.08","116.20,39.91",2018-11-10 11:10:36,"[{""distance"": 49067, ""price"": 3100, ""eta"": 634...",1.0,0.0,0.0,...,0,0,0,0,0,0,1,47796,3000,7234
1,21,177401.0,2018-11-10 12:16:01,"116.32,39.89","116.27,39.86",2018-11-10 12:16:01,"[{""distance"": 6157, ""price"": 300, ""eta"": 1289,...",0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
2,25,176887.0,2018-11-10 23:51:25,"116.44,39.88","116.45,39.86",2018-11-10 23:51:25,"[{""distance"": 3006, ""price"": 200, ""eta"": 2419,...",0.0,0.0,1.0,...,0,0,0,0,0,0,0,0,0,0
3,34,0.0,2018-11-10 13:42:54,"116.29,40.07","116.44,39.93",2018-11-10 13:42:54,"[{""distance"": 26039, ""price"": 600, ""eta"": 4411...",0.0,0.0,0.0,...,600,4411,0,0,0,0,0,0,0,0
4,35,106441.0,2018-11-10 16:37:17,"116.17,39.92","116.20,39.93",2018-11-10 16:37:17,"[{""distance"": 4415, ""price"": 200, ""eta"": 2050,...",1.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0

In [16]:
final.to_csv('/storage/kdd/train_final2.csv', index = False)