In [1]:
import pandas as pd
import numpy as np
import os
import math
import csv
import random
import time
import collections
from tqdm import tqdm_notebook as tqdm

In [2]:
train_merges = pd.read_csv('/storage/kdd/train_merges.csv')

In [3]:
start = train_merges.o.values
distination = train_merges.d.values
req_t = train_merges.req_time.values

In [4]:
# print(len(start))
# start_x = str(start[0]).split(',')[0]
start_x = []
start_y = []
for i in range(len(start)):
    start_x.append(str(start[i]).split(',')[0])
    start_y.append(str(start[i].split(',')[1]))

In [5]:
distination_x = []
distination_y = []
for i in range(len(distination)):
    distination_x.append(str(start[i]).split(',')[0])
    distination_y.append(str(start[i].split(',')[1]))

In [6]:
# req_t_sep = []
# req = req_t[0].split(' ')[1].split(':')[0] #crazy split to take the hours number out
# req

In [7]:
req_t_h = []

for i in range(len(req_t)):
    req_t_h.append(time.strptime(req_t[i], '%Y-%m-%d %H:%M:%S').tm_hour) # 阿蕊say it will be more quickly but i think it will be slower
# a = req_t[0]
# b = time.strptime(a, '%Y-%m-%d %H:%M:%S')# 阿蕊say it will be more quickly
# b.tm_min

In [8]:
print(type(req_t_h))

<class 'list'>

In [9]:
# a = collections.Counter(req_t_h) #count each numbers amount

In [10]:
o1 = pd.DataFrame(start_x, columns = ['o1'])
o2 = pd.DataFrame(start_y, columns = ['o2'])
d1 = pd.DataFrame(distination_x, columns = ['d1'])
d2 = pd.DataFrame(distination_y, columns = ['d2'])
time_hour = pd.DataFrame(req_t_h, columns = ['time_hour'])

In [11]:
final = pd.concat([train_merges, o1, o2, d1, d2, time_hour], axis = 1)

In [12]:
final.head()

,sid,pid,req_time,o,d,plan_time,plans,p0,p1,p2,...,p63,p64,p65,click_time,click_mode,o1,o2,d1,d2,time_hour
0,10,199899.0,2018-11-10 11:10:36,"116.58,40.08","116.20,39.91",2018-11-10 11:10:36,"[{""distance"": 49067, ""price"": 3100, ""eta"": 634...",1.0,0.0,0.0,...,0.0,0.0,0.0,2018-11-10 11:13:24,1,116.58,40.08,116.58,40.08,11
1,21,177401.0,2018-11-10 12:16:01,"116.32,39.89","116.27,39.86",2018-11-10 12:16:01,"[{""distance"": 6157, ""price"": 300, ""eta"": 1289,...",0.0,0.0,0.0,...,0.0,0.0,0.0,2018-11-10 12:16:36,2,116.32,39.89,116.32,39.89,12
2,25,176887.0,2018-11-10 23:51:25,"116.44,39.88","116.45,39.86",2018-11-10 23:51:25,"[{""distance"": 3006, ""price"": 200, ""eta"": 2419,...",0.0,0.0,1.0,...,0.0,0.0,0.0,2018-11-10 23:51:30,1,116.44,39.88,116.44,39.88,23
3,34,0.0,2018-11-10 13:42:54,"116.29,40.07","116.44,39.93",2018-11-10 13:42:54,"[{""distance"": 26039, ""price"": 600, ""eta"": 4411...",0.0,0.0,0.0,...,0.0,0.0,0.0,2018-11-10 13:43:19,9,116.29,40.07,116.29,40.07,13
4,35,106441.0,2018-11-10 16:37:17,"116.17,39.92","116.20,39.93",2018-11-10 16:37:17,"[{""distance"": 4415, ""price"": 200, ""eta"": 2050,...",1.0,0.0,0.0,...,0.0,0.0,0.0,2018-11-10 16:37:25,1,116.17,39.92,116.17,39.92,16

In [13]:
final.to_csv('/storage/kdd/train_final.csv', index = False)