In [1]:
import pandas as pd
import numpy as np
import os
import math
import csv
import random
import time
import collections
from tqdm import tqdm_notebook as tqdm

In [2]:
# train_merges = pd.read_csv('/storage/kdd/train_merges.csv')
train_merges = pd.read_csv('/storage/kdd/test_final1.csv')

In [3]:
start = train_merges.o.values
distination = train_merges.d.values
req_t = train_merges.req_time.values

In [4]:
# print(len(start))
# start_x = str(start[0]).split(',')[0]
start_x = []
start_y = []
for i in range(len(start)):
    start_x.append(str(start[i]).split(',')[0])
    start_y.append(str(start[i].split(',')[1]))

In [5]:
distination_x = []
distination_y = []
for i in range(len(distination)):
    distination_x.append(str(distination[i]).split(',')[0])
    distination_y.append(str(distination[i].split(',')[1]))

In [6]:
# req_t_sep = []
# req = req_t[0].split(' ')[1].split(':')[0] #crazy split to take the hours number out
# req

In [7]:
req_t_h = []

for i in range(len(req_t)):
    req_t_h.append(time.strptime(req_t[i], '%Y-%m-%d %H:%M:%S').tm_hour) # 阿蕊say it will be more quickly but i think it will be slower
# a = req_t[0]
# b = time.strptime(a, '%Y-%m-%d %H:%M:%S')# 阿蕊say it will be more quickly
# b.tm_min

In [8]:
print(type(req_t_h))

<class 'list'>

In [9]:
# a = collections.Counter(req_t_h) #count each numbers amount

In [10]:
o1 = pd.DataFrame(start_x, columns = ['o1'])
o2 = pd.DataFrame(start_y, columns = ['o2'])
d1 = pd.DataFrame(distination_x, columns = ['d1'])
d2 = pd.DataFrame(distination_y, columns = ['d2'])
time_hour = pd.DataFrame(req_t_h, columns = ['time_hour'])

In [11]:
final = pd.concat([train_merges, o1, o2, d1, d2, time_hour], axis = 1)

In [12]:
final.head()

,sid,pid,req_time,o,d,plan_time,plans,p0,p1,p2,...,p61,p62,p63,p64,p65,o1,o2,d1,d2,time_hour
0,1126541,178395.0,2018-12-05 14:51:43,"116.41,39.92","116.46,39.95",2018-12-05 14:51:43,"[{""distance"": 13610, ""price"": 400, ""eta"": 2388...",0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,116.41,39.92,116.46,39.95,14
1,1389752,178395.0,2018-12-03 17:30:22,"116.40,39.91","116.46,39.95",2018-12-03 17:30:22,"[{""distance"": 10499, ""price"": 400, ""eta"": 2946...",0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,116.40,39.91,116.46,39.95,17
2,1126543,178395.0,2018-12-05 12:10:43,"116.41,39.92","116.32,39.89",2018-12-05 12:10:43,"[{""distance"": 12277, ""price"": 400, ""eta"": 2319...",0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,116.41,39.92,116.32,39.89,12
3,1349248,178395.0,2018-12-04 09:42:37,"116.41,39.91","116.46,39.95",2018-12-04 09:42:37,"[{""distance"": 9710, ""price"": 400, ""eta"": 2270,...",0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,116.41,39.91,116.46,39.95,9
4,1349239,178395.0,2018-12-04 22:49:10,"116.32,39.89","116.41,39.92",2018-12-04 22:49:10,"[{""distance"": 10475, ""price"": 4000, ""eta"": 194...",0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,116.32,39.89,116.41,39.92,22

In [13]:
# final.to_csv('/storage/kdd/train_final.csv', index = False)
final.to_csv('/storage/kdd/test_final2.csv', index = False)